In [1]:
import os
import pandas as pd

In [3]:
#from google.colab import drive
#drive.mount('/content/drive')

In [2]:
#os.chdir("/content/drive/MyDrive/Harvey Associate Initiative/")
#os.chdir("/Users/rerobbins/projects/work/harvey_training_initiative")
os.chdir("/home/jovyan/work/work/harvey_training_initiative")

In [3]:
offices = pd.read_excel("2025-02-01 -- Lookup Tables.xlsx", sheet_name="Offices")
titles = pd.read_excel("2025-02-01 -- Lookup Tables.xlsx", sheet_name="Titles")

In [4]:
offices

                           Office Region
0                         Beijing   Asia
1                       Hong Kong   Asia
2                Resource Law LLC   Asia
3                        Shanghai   Asia
4                       Singapore   Asia
5                       Abu Dhabi    EME
6                          Astana    EME
7                          Athens    EME
8                        Brussels    EME
9                           Dubai    EME
10                      Frankfurt    EME
11       Global Solutions - Leeds    EME
12                         London    EME
13                         Munich    EME
14                          Paris    EME
15                        Atlanta   U.S.
16                         Austin   U.S.
17                   Century City   U.S.
18                        Chicago   U.S.
19                         Dallas   U.S.
20                         Denver   U.S.
21  Global Solutions - Pittsburgh   U.S.
22                        Houston   U.S.
23                    Los Angeles   U.S.
24                          Miami   U.S.
25                       New York   U.S.
26                  Orange County   U.S.
27                   Philadelphia   U.S.
28                     Pittsburgh   U.S.
29                      Princeton   U.S.
30                       Richmond   U.S.
31                  San Francisco   U.S.
32                 Silicon Valley   U.S.
33                         Tysons   U.S.
34                Washington D.C.   U.S.
35                     Wilmington   U.S.

In [5]:
titles

                   Title Stem     Title Group  Attorney
0                   Associate       Associate      True
1                   Law Clerk       Associate      True
2               New Associate       Associate      True
3            Seconded Trainee       Associate      True
4            Summer Associate       Associate      True
5                     Trainee       Associate      True
6                     Counsel         Counsel      True
7           Contract Attorney  Other Attorney      True
8        E-Discovery Attorney  Other Attorney      True
9            Project Attorney  Other Attorney      True
10    Resource Law - Attorney  Other Attorney      True
11           Retired Attorney  Other Attorney      True
12             Staff Attorney  Other Attorney      True
13                    Partner         Partner      True
14  Contract Legal Consultant      Contractor     False
15                 Contractor      Contractor     False
16  Contractor - Williams Lea      Contractor     False
17     Independent Contractor      Contractor     False
18                  Paralegal       Paralegal     False
19        Temporary Paralegal       Paralegal     False
20   Administrative Assistant           Staff     False
21                    Analyst           Staff     False
22         Assistant Director           Staff     False
23             Case Assistant           Staff     False
24                      Chief           Staff     False
25                      Clerk           Staff     False
26                Coordinator           Staff     False
27                   Director           Staff     False
28        Executive Assistant           Staff     False
29                     Intern           Staff     False
30           Legal Consultant           Staff     False
31            Legal Secretary           Staff     False
32                    Manager           Staff     False
33           Other Timekeeper           Staff     False
34               Receptionist           Staff     False
35       Resource Law - Staff           Staff     False
36            Senior Director           Staff     False
37             Senior Manager           Staff     False
38                 Specialist           Staff     False
39                 Supervisor           Staff     False
40            Temporary Staff           Staff     False

In [6]:
# Load the data
firm = pd.read_excel("2025-02-23 -- Firm Directory From People Finder.xlsx")

# Rename the first column to 'Email' and standardize its format
firm = firm.rename(columns={firm.columns[0]: "Email"})
firm["Email"] = firm["Email"].str.strip().str.lower()

# Filter for primary office and drop rows with missing 'Email' or 'Department'
firm = firm[firm['Office Type'] == "Primary Office"]
firm = firm.dropna(subset=['Email', 'Department'])

# Split 'Department' into 'Department' and 'Group', stripping whitespace
firm[['Department', 'Group']] = firm['Department'].str.split(' - ', n=1, expand=True)
firm['Department'] = firm['Department'].str.strip()
firm['Group'] = firm['Group'].str.strip()

# Extract the first part of 'Title' into 'Title Stem'
firm['Title Stem'] = firm['Title'].str.split('<br/>').str[0].str.strip()

firm = firm.merge(offices, on="Office", how='left')
firm = firm.merge(titles, on="Title Stem", how='left')

columns = ['Email', 'Name', 'Title', 'Title Stem', 'Title Group', 'Attorney',
           'Department', 'Group', 'Office', 'Region']

firm = firm[columns]

# Display the cleaned DataFrame
firm

,Email,Name,Title,Title Stem,Title Group,Attorney,Department,Group,Office,Region
0,jabbeduto@reedsmith.com,"Abbeduto, Jackson",Counsel,Counsel,Counsel,True,Business & Finance,Entertainment & Media Industry Group,Century City,U.S.
1,eabbott@reedsmith.com,"Abbott, Eric",Independent Contractor,Independent Contractor,Contractor,False,Business & Finance,Global Corporate Group,Pittsburgh,U.S.
2,aabboushi@reedsmith.com,"Abboushi, Andrew",Coordinator<br/>(Global Collaboration & AV Coo...,Coordinator,Staff,False,Information Technology,Information Technology,Pittsburgh,U.S.
3,sabdalla@reedsmith.com,"Abdalla, Safia",Paralegal,Paralegal,Paralegal,False,Litigation,Global Commercial Disputes,Dubai,EME
4,jabdeljaber@reedsmith.com,"Abdeljaber, Jenine",Associate,Associate,Associate,True,Litigation,Global Commercial Disputes,Dubai,EME
...,...,...,...,...,...,...,...,...,...,...
3482,jziering@reedsmith.com,"Ziering, Jake",Associate,Associate,Associate,True,Litigation,Insurance Recovery,Chicago,U.S.
3483,lzoeller@reedsmith.com,"Zoeller, Lee",Partner,Partner,Partner,True,Business & Finance,State Tax,Philadelphia,U.S.
3484,bzohny@reedsmith.com,"Zohny, M. Bassam",Associate,Associate,Associate,True,Business & Finance,Financial Industry Group,Princeton,U.S.
3485,ezourabova@reedsmith.com,"Zourabova, Elina",Administrative Assistant<br/>(Business Develop...,Administrative Assistant,Staff,False,Summer Associates & Trainees,Summer Associates & Trainees,Paris,EME
3486,ueblackberry@reedsmith.com,"zz - Blackberry, User",Temporary Staff,Temporary Staff,Staff,False,Information Technology,Information Technology,London,EME

In [7]:
firm[(firm['Region'] == 'U.S.') & (firm['Title Stem'] == 'Associate')].Group.value_counts()

Group
Global Corporate Group                  82
Global Commercial Disputes              74
Financial Industry Group                46
Life Sciences Health Industry Group     37
Insurance Recovery                      25
Real Estate                             20
Labor & Employment                      20
Intellectual Property                   17
Energy & Natural Resources              16
Entertainment & Media Industry Group    15
Global Regulatory Enforcement           14
State Tax                               11
Transportation Industry Group            2
Name: count, dtype: int64

In [8]:
firm[(firm['Region'] == 'U.S.') & (firm['Title Stem'] == 'Associate')].Department.value_counts()

Department
Business & Finance    190
Litigation            189
Name: count, dtype: int64

In [9]:
firm.loc[firm['Group'] == 'New Associates - Litigation', ['Department', 'Group']] = ['Litigation', 'Global Commercial Disputes']

In [10]:
firm.Region.value_counts()

Region
U.S.    2138
EME     1099
Asia     250
Name: count, dtype: int64

In [11]:
firm.to_excel("firm_directory.xlsx", index=False)